#app-big {
  background: red;
  color: white;
}

@media screen and (min-width: 1000px) {
  #app-big {
    background: white;
    color: red;
    position: relative;
    top: 10px;
    right: 10px;
    z-index: 99999;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
  }
}
